*{
  margin: 10px;
  padding: 10px;
  box-sizing: border-box;
  background-color: cadetblue;
}

body{
  font-family: Chalkboard sans-serif;
}

.app{
  background-color: orangered;
  background-size: cover;
  background-position: bottom;
  transition: 0.4s ease-out;
}